<div class="container">
  <div class="login">
    <h3>Forgot your password?</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>

      <p>
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true %>
      </p>

      <p>
        <%= f.submit "reset password", class: "reset-button" %>
      </p>

    <% end %>
    <%= render "Devise/shared/links" %>
  </div>
</div>
