<!DOCTYPE html>
<html>
<head>
  <title>The GiftHorse</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-container">
<header>
  <h1><span>GiftHorse</span></h1>
</header>
<main>
  <div class="alerts">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
   <p class="logout-link"><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
  </div>
  <%= yield %>
</main>
</div>
</body>
</html>